/* -------------------------------- */
/* STYLE FOR ABOUT SECTION */
/* -------------------------------- */

.about-section {
    width: 90%;
    margin: auto;
    height: 400px;
    border: .5px solid var(--purple);
    border-radius: 15px;
    
    display: flex;
}

.about-left {
 width: 50%;
 padding: 20px;
}
.about-1 {
    color: var(--purple);
    font-size: 0.8rem;
    font-weight: bold;
}
.about-left {
    height: 400px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 10px;
}
/* about title */
.about-title {
    font-size: 2rem;
    font-weight: bold;    
}


/* scroll reveal */
.about-title span,
.about-content span {
    color: transparent;
    /* background-color: var(--text); */
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(to right, var(--text), var(--text));

    animation: scrollReavle linear forwards;
    animation-timeline: view();
    animation-range-start: 20vh;
    animation-range-end: 30vh;
}
@keyframes scrollReavle {
    to {
        background-size: 100% 100%;
    }
}
/* about image part */
.about-img-container {
    width: 50%;
    overflow: hidden;
    border-radius: 0 15px 0;
}
.about-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* -------------------- */
/* MOBILE VIEW */
/* -------------------- */
@media (max-width: 575.99px) {
    /* about section container */
    .about-section {
        flex-direction: column;
    }
    .about-left,
    .about-img-container {
        width: 100%;
    }
    /* about image */
    .about-img-container {
        border-radius: 0 0 15px 15px;
    }
}